.my_span {
  color: rgb(76, 11, 141);
  font-weight: 700;
}

.gather-details-container {
  color: rgb(255, 242, 129);
  background-image: linear-gradient(
    rgb(218, 225, 255),
    rgb(252, 215, 239)
  ) !important;
  padding: 20px;
}

.my_back_btn {
  background-image: linear-gradient(white, rgb(231, 231, 231) (209, 209, 209));
}
