$color1: rgb(214, 79, 6);
$color2: rgb(0, 94, 255);
body{
  font-size: 1rem;
}
.app-container {
  font-size: 1.4rem;

  label {
    color: $color2;
    padding: 6px;
  }

  button {
    width: 100%;
    padding: 7px;
    margin-top: 10px;
  }
}

.hide_class {
  display: none !important;
}


.custom-toast-success {
  background-color: #28a745;
  /* set background color */
  color: #fff;
  /* set text color */
  font-size: 16px;
  /* set font size */
  /* add any other styles you want */
}